﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Formularz.Models.Dane;
@{
}
<h1>Wynik</h1>
Potwierdzam Twoje dane
<br />
Imie: @Model.Imie
<br />
Nazwisko: @Model.Nazwisko
<br />
Email: @Model.Email
<br />
Haslo: @Model.Haslo
<br />
HasloPotwierdzenie: @Model.HasloPotwierdzenie
<br />
NumerTelefonu: @Model.NumerTelefonu
<br />
Miasto: @Model.Miasto
<br />